@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'EB Garamond', serif;
    font-size: 18px;
    background-color: #3e99ee;
    color: #F4F7F8;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}